body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
}

table,
td {
  border: 1px solid black;
}

footer {
}
